/* Generales */
html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-size: 16px;
}

header {
    display: flex;
    align-items: center;
}

header svg{
    margin-left: .5rem;
}



h1 {
    font-size: 3.8rem;
    margin: 2rem 0;

}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}


footer {
    position: absolute; /* o absolute */
    margin: 10px auto;
    left: 50%;
    transform: translateX(-50%);
    width: 100%; /* o el valor deseado como 80% */
    padding-left: 20px;
    text-align: center;
    box-sizing: border-box; /* Para incluir el padding en el width */
}









